$bar-hover-color: yellow
$tooltip-background-color: yellow
$tooltip-shadow-color: rgba(255,0,0,0.5)


body
	background: rgba(0,0,0,0.5)	

/*.bars:hover
	fill: red*/

.bars:hover
	fill: $bar-hover-color
	

.hidden
	display: none

#tooltip
	position: absolute
	background: $tooltip-background-color
	border-radius: 10px
	width: 120px
	padding: 10px
	box-shadow: 5px 5px 10px $tooltip-shadow-color
	font-size: 0.8em

#tooltip p
	margin: 0

.axis text
	font-size: 1.5em

#description
	position: absolute
	

